.container {
    width: 100vw;
    background-color: #d5edf9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4vh;
    margin-bottom: 6vh;
    height: 20vh; /* Increased height to accommodate the wave */
    position: relative; /* Relative positioning for the wave container */
    z-index: 1;
  }

  .container img {
    height: 12vh;
  }
  
  .messageBanner {
    width: 70vw;
    display: flex;
    margin: 0 auto;
    height: 14vh;
    justify-content: space-between;
    z-index: 999;
  }
  
  .messageBanner h1 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 2vh;
  }
  
  .container span {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0;
    color: #709cb1;
  }
  
  .messageBannerText {
    width: 80vw;
  }
  
  /* Define keyframes for the wave animation */
  @keyframes moveWave {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  /* Apply the animation to the wave container */
  .waveContainer {
    width: 200%;
    height: 6vh;
    overflow: hidden; /* Hide any overflow */
    position: absolute; /* Absolute positioning within the container */
    bottom: 0; /* Position at the bottom of the container */
    left: 0; /* Ensure it starts from the left */
  }
  
  /* Apply the animation to each wave */
  .wave {
    width: 200%; /* Ensures two waves fit in the container */
    height: 100%;
    background-image: url('./waveBottom.png');
    background-size: contain; /* Ensure the image covers the element */
    background-repeat: repeat-x;
    position: absolute; /* Position absolute for animation */
    top: 0;
    left: 0;
    animation: moveWave 160s linear infinite;
  } 