

.container {
    height: 62vh;
    background-color: var(--color-primary-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.card {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}


.card p {
  text-align: center;
  margin-top: 2vh;
  font-size: 1.8vh;
}



.waveBorder {
    width: 100vw;
    height: 3vh;
}

.row{
    width: 65vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 8vh;
    margin-bottom: 3vh;
    align-items: center;
}

.text {
    width: 30vw;
}

.row h2 {
    font-weight: 600;
    font-size: 3vh;
}

.row h1 {
    font-size: 4.5vh;
    font-weight: 600;
    margin-bottom: 1vh;
}


@keyframes fadeInZoom {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
    
  .animate {
    opacity: 1;
    transform: scale(1);
    animation: fadeInZoom 1s forwards;
  }
  

