.container {
  position: relative;
}

.container h1 {
  margin-bottom: 4vh;
  font-size: 4vh;
  font-weight: 600;
  margin-top: 0.5vh;
}

.searchBox {
  position: absolute;
  bottom: 40%;
  left: 58%;
  transform: translate(-137%, 35%);
  color: #474747;
  text-align: left;
  z-index: 1;
  font-size: 0.9vw;
  background-color: var(--color-background);
  height: 51vh;
  width: 31vw;
  padding: 2vw;
  border-radius: 2vh;
}

.image {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.CTA {
  background-color: var(--color-primary-medium);
  border: none;
  display: flex;
  align-items: center;
  margin-top: 3vh;
  padding: 1vw 0;
  border-radius: 100px;
  transition: 0.3s ease;
  cursor: pointer;
  width: 31vw;
  justify-content: center;
}

.subtext {
  display: flex;
  align-items: center;
  margin-bottom: 4vh;
}

.pinIcon {
  height: 1.8vh;
  margin-right: 0.3vw;
  padding-bottom: 0.3vh;
}

.CTA p {
  font-size: 2vh;
  margin: 0;
  font-weight: 500;
  color: #343330;
}

.searchInput {
  width: 31vw;
  display: flex;
  margin: 0 auto;
  align-items: center;
  height: 6vh;
  border-radius: 1vh;
  border: 1px solid #e8e8e8;
  align-items: center;
}

.searchInput::placeholder {
  padding: 2vw;
  font-size: 1.8vh;
}

.cardRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5vh;
}

.card {
  height: 6vh;
  width: 9vw;
  border: 1px solid #e8e8e8;
  border-radius: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card img {
  height: 3vh;
  margin-right: 0.4vw;
  margin-left: -0.4vw;
}

.card p {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.card.active {
  color:  var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  background-color: #fff1df;
}

@keyframes moveWave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Apply the animation to the wave container */
.waveContainer {
  width: 100%;
  height: 6vh;
  overflow: hidden; /* Hide any overflow */
  position: absolute; /* Absolute positioning within the container */
  bottom: 0; /* Position at the bottom of the container */
  left: 0; /* Ensure it starts from the left */
}

/* Apply the animation to each wave */
.wave {
  width: 200%; /* Ensures two waves fit in the container */
  height: 102%;
  background-image: url("../../../Assets/Images/waveBottom.png");
  background-size: contain; /* Ensure the image covers the element */
  background-repeat: repeat-x;
  position: absolute; /* Position absolute for animation */
  top: 0;
  left: 0;
  animation: moveWave 90s linear infinite;
}

.title {
  width: 21.5vw;
  position: relative; /* Necessário para o posicionamento correto do background */
  display: inline-block; /* Para que a largura do elemento corresponda ao conteúdo do texto */
  background-image: url("../../../Assets/Images/Underline.png");
  background-repeat: no-repeat;
  background-size: 17.5vw 2.7vh;
  background-position: 100% 24%; /* Centraliza a imagem horizontalmente e a coloca na parte inferior */
}