
.image {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 80vh;
  }

  .container2 {
    background-image: url("../../../Assets/Images/hero.png");
    background-repeat: no-repeat;
    background-size: 100vw 80vh;
  }

@keyframes moveWave {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .waveContainer {
    width: 100%;
    height: 6vh;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .wave {
    width: 200%;
    height: 102%;
    background-image: url("../../../Assets/Images/waveBottom.png");
    background-size: contain;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    left: 0;
    animation: moveWave 90s linear infinite;
  }