

.container {
    height: 65vh;
    background-color: #FFF1DF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.waveBorder {
    width: 100vw;
    height: 3vh;
}

.text{
    width: 26vw;
    margin-bottom: 4vh;
    font-size: 2.2vh;
font-weight: 500}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45vh;
}



.innerContainer {
    width: 58vw;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.imageContainer img {
    height: 50vh;
}

.textContainer span {
    font-weight: 500;
}

.textContainer p {
    margin: 0;
}

.nameAndIcons{
    display: flex;
    width: 26vw;
    justify-content: space-between;
    align-items: center;
}


.pagination{
    display: flex;
  
  }

  .pageBox{
    display: flex;
    padding: 1.5vh;
    background-color: var(--color-background);
    justify-content: center;
    align-items: center;
    margin:0.8vw;
    cursor: pointer;
    border-radius: 100px;
  }

  .pagination svg {
    fill: var(--color-gray-dark);
    margin:0
  }

  .starsContainer {
    width: 6vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
   
  }

  .starsContainer svg {
    fill: var(--color-primary-medium);
    font-size:2vh;
  }

  @media screen and (max-width: 768px) {

    .container {
        height: 65vh;
        background-image: url("../../../Assets/Images/petOwner.png");
        display: flex;
        background-repeat: no-repeat;
        flex-direction: column;
        justify-content: space-between;
        background-size: auto 65vh;
        background-position: center
        ;
    }
    .imageContainer img {
        height: 0;
    }
    
.innerContainer {
    width: 58vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

    .text{
        width: 80vw;
        margin-bottom: 4vh;
        font-size: 2.2vh;
    font-weight: 500}
    
    .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 45vh;
        padding: 2vh;
        background-color: #ffffff86;
        color: var(--color-black);
        border-radius: 2vh;
    }
    
    .waveBorder {
        width: 100vw;
        height: 1vh;
    }
    .starsContainer {
        width: 22vw;
        display: flex;
        justify-content: space-between;
        margin-bottom: 3vh;
       
      }
    
      .starsContainer svg {
        fill: var(--color-primary-medium);
        font-size:2vh;
      }
      .nameAndIcons{
        display: flex;
        width: 80vw;
        justify-content: space-between;
        align-items: center;
    }

    
  .pageBox{
    display: flex;
    padding: 1.5vh;
    background-color: var(--color-background);
    justify-content: center;
    align-items: center;
    margin: 0 3vw;
    cursor: pointer;
    border-radius: 100px;
  }
  }