.container {
    width: 70vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-radius: 20px;
    margin-bottom: 6vh;
    width: 20vw;
    margin-right: 2vw;
    color: #343330;
  }
  
  .buttonRow {
    width: 18vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
  }
  
  .container form {
    display: flex;
    flex-direction: column;
    width: 10vw;
    align-items: center;
    margin: 0 auto;
  }
  
  .searchLabel {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 18vw;
    margin-bottom: 2vh;
    position: relative;
  }
  
  .searchLabel input {
    border: none;
    height: 5vh;
    border-radius: 6px;
    width: 15.8vw;
    border: 1px solid #E8E8E8;
    padding-left: 2.2vw;
  }

  .searchIcon{
    position: absolute;
    height: 2.2vh;
    bottom: 44.5%;
    left: 3.5%;
  }
  
  .searchLabel input::placeholder {
  
    font-size: 1.6vh;
  }
  
  .searchLabel select {
    border: none;
    height: 3vh;
    border-radius: 6px;
    width: 12vw;
  }
  
  .searchButton {
    height: 5vh;
    width: 8vw;
    border: none;
    border-radius: 100px;
    display: flex;
    align-items: center;
    background-color: #FFCA96;
    margin-top: 3.4vh;
    cursor: pointer;
    justify-content: center;
  }
  
  .searchButton p {
    font-size: 1.8vh;
    font-weight: 500;
  }
  
  .mapPin {
    height: 2vh;
    width: 1.1vw;
    margin-right: 0.2vw;
    padding-bottom: 0.5vh;
  }
  
  .useCurrentLocation {
    display: flex;
    align-items: center;
  }