.messageBanner{
    width: 45vw;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.messageBanner h1 {
    font-weight: 500;
    text-align: center;
    margin: 0;
    margin-bottom: 2vh;
   
}

.container span {
text-align: center;
display: flex;
justify-content: center;
margin: 0;
color: var(--color-primary-dark);
}

.messageBannerText{
    width: 80vw;
}

.dogImage, .catImage {
    height: 16vh;
    width: 16vh;
    margin-top: 1.5vh;
}

.dogImage {
    margin-left: 0.8vw;
    margin-right: -0.8vw;
}