

.filterContainer {
  width: 18vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 2vh;
}

.filterContainer label {
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
}

.radioContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hiddenRadio {
  display: none;
}

.customRadio {
  width: 16px;
  height: 16px; 
  border-radius: 50%;
  border: 2px solid  var(--color-primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  position: relative;
  cursor:pointer;
  top: 0;
}

.customRadio::after {
  content: "";
  width: 8px; 
  height: 8px; 
  border-radius: 50%;
  background-color:  var(--color-primary-dark);
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  opacity: 0;
  transition: opacity 0.2s;
}

.hiddenRadio:checked + .customRadio::after {
  opacity: 1;
}