.navbar {
    
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    border-bottom: 1px solid #F4F4F4;
    z-index: 1;
    height: 8vh;
    
}

.container {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar img {
    height: 2.8vh}

.navbar li {
    list-style: none;
    margin-left: 2vw;
}

.navbar li img {
    width: 0.6vw;
    height: 0.8vh;
    margin-left: 0.3vw;
}

.navbar a {
    text-decoration: none;
    color: #343330;
}

.cta2 {
    border: 1px solid #E8E8E8;
    padding: 8px 12px;
    border-radius: 100px;
}

.cta {
    background-color: #FFCA96;
    padding: 8px 12px;
    border-radius: 100px;
}