.container {
    display: flex;
    width: 70vw;
    margin:0 auto;
    margin-top: 8vh;
    flex-wrap: wrap;
  padding-bottom: 0;
  }
  
 .container ul {
    list-style: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 6vh;
  }

  .title{
    color: #575757;
    margin-left: 1vw;
  }
  
  .card {
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 20px;
    width: 210px;
    height: 210px;
    background-size: cover;
    background-position: center;
    display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-end; /* Align content to the bottom */
  }

  .cardContent {
    margin-left: 20px;
    margin-bottom: 3vh;
  }
  
  .cardContent h3 {
    margin-bottom: 0.5vh;
    margin-top: 1.5vh;
    font-weight: 500;
    color: var(--color-black);
  }
  .cardContent p {
    margin: 2px 0;
  }

  .cardContent p span {
    color: var(--color-primary-dark);
  }
  
  .card p:first-child {
    font-weight: bold;
  }

  .button {
    padding: 1vh 2vh;
    border: none;
    border-radius: 2vh;
    background-color: var(--color-primary-dark);
    color: white;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

.button p {
  margin:0
}

  .button svg {
    margin:0;
    margin-left: 0.5vw;
    font-size: 1.5vh;
    fill: white;
    padding:0
  }
  