.App {
    display: flex;
    flex-direction: column;
}

.noUserContainer{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
}

.userFooter{
    width: 89vw;
    margin-top: 5vh;
}

svg {
    fill: #474747;
}