.App {
    display: flex;
    flex-direction: column;
}

.noUserContainer{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    padding-top: 0;
}

.userFooter{
    width: 89vw;
    margin-top: 5vh;
}

svg {
    fill: #474747;
}

body{
   width: 100vw;
   overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    .container{ padding-top: 8vh; }
}