body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
  color: #343330;
  cursor:default
}

code {
  font-family: "Poppins", source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-primary-dark: #FF9E3F ;
  --color-primary-medium: #FFCA96;
  --color-primary-light: #FFF1DF;
  --color-secondary-medium: #D5EDF9;
  --color-secondary-dark:#709cb1;
  --color-background: #FFFFFF;
  --color-border: #F4F4F4;
  --color-gray-lightest: #F4F4F4;
  --color-gray-light: #E8E8E8;
  --color-gray-medium: #B7B7B7;
  --color-gray-dark: #7A7A7A;  
    --color-black: #343330;
  /* Add more colors as needed */
}

p {
  font-size: 1.6vh;
 
}

h1 {
  font-weight: 500;
}